<app-user-profile [profession]="professionParent()" [annee]=4 (message)="receiveMessage($event)" />
<button (click)="modify()">Modifier</button>
<p>Message recu : {{receivedMessage}}</p>

<app-bidirectionnal-parent />
<app-pagination [(page)]="currentPage" />
<button (click)="suivant()">Page suivante</button>
<p>{{currentPage()}}</p>

<ul>
  <li *ngFor="let user of users, trackBy: trackById">{{user.name}}</li>
</ul>


<!-- <ng-container *ngComponentOutlet="selectedComponent"></ng-container> -->

<app-card>
  <p>Texte à l'intérieur d'une carte</p>
</app-card>

<app-parent-outlet />
<app-dynamic-parent />
<app-modal [component]="selectedComponent">
  <app-card>
    <p>Texte à l'intérieur d'une carte</p>
  </app-card>
</app-modal>

<router-outlet />